* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    
}

body{

    background:url(image7.jpg);
    /* background-size: cover; */
}


.title {
    margin-top: 100px;
    color: blue;
    text-align: center;
    font-size: 2.5rem;

    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



#hours{

    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 20px;

    font-weight: bold;

   

    
}

.hours{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin: 20px;
   text-align: center;
   font-weight: bold;
color: black;


}

.countdown{

    text-align: center;
    align-items: center;
    padding: 20px;
    margin-left: 45%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;

  

}
.hours:hover, .minutes:hover, .seconds:hover {
    color: blueviolet; /* Change color to red on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}



@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}